.cards {
  width: 100%;
  display: table;
  height: auto;
  justify-self: center;
  background-color: #a5cdc0;
}

.card {
  width: 25%;
  display: inline-block;
  align-items: center;
  border-radius: 5px;
  background-color: cadetblue;
  margin: 4%;
}

.card-header {
  border-bottom: 1px solid;
  text-align: center;
  font-size: 30px;
}

.card-body {
  font-size: 20px;
  padding: 5px;
  border-bottom: 1px solid;
}

.card-footer > button {
  width: 50px;
  height: 30px;
  margin: 10px;
  border-radius: 5px solid #a5cdc0;
  background-color: #a5cdc0;
  border: 1px solid #a5cdc0;
  font-size: 12px;
}
