.popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Podesite prozirnost pozadine */
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.popup label {
    display: block;
    margin-bottom: 5px;
}

.popup input[type="text"] {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.popup input[type="button"],
.popup input[type="submit"] {
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.popup input[type="button"]:hover,
.popup input[type="submit"]:hover {
    background-color: #0056b3;
}

.popup input[type="button"]:focus,
.popup input[type="submit"]:focus {
    outline: none;
}

.popup input[type="button"]:not(:last-child) {
    margin-right: 10px;
}